header {
  background-image: url('/assets/img/tree.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  &__body {
    padding: 80px;
  }

  &__filter {
    background: get-color(header, filter);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__footer {
    display: none;
    padding: 60px 80px;
    position: relative;
  }

  &__item {
    font: 400 0.8em/4.7em $font;
    letter-spacing: 0.35em;
    margin-right: 4.4em;
    transition: font-weight ease-in-out 250ms, letter-spacing ease-in-out 250ms;

    & > a {
      color: get-color(header, text);
      text-decoration: none;
      transition: color ease-in-out 250ms;

      &:hover {
        color: get-color(header, link, hover);
      }
    }

    &:hover {
      font-weight: 600;
      letter-spacing: 0.4em;
    }
  }

  &__job {
    color: get-color(header, text);
    font: 400 1.3em/2.2em $font;
    text-transform: uppercase;
  }

  &__list {
    align-items: center;
    color: get-color(header, text);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
  }

  &__me {
    width: 50%;
  }

  &__name {
    color: get-color(header, text);
    font: 700 2.6em/1.4em $font;
    text-transform: lowercase;
  }

  &__name, &__job {
    display: block;
  }

  &__navigation {
    width: 50%;
  }

  &__summary {
    color: get-color(header, text);
    font: 400 18px/24px $font;
    margin-top: 24px;
    position: relative;
  }

  &__title {
    color: get-color(header, text);
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 4.4em;
    position: relative;
    width: calc(100% - 160px);
    z-index: 1;
  }
}

@media only screen and (max-width : $max-device-width) {
  .header {
    &__body {
      padding: 0 2.4em 4.4em;
    }

    &__footer {
      display: none;
    }

    &__me {
      width: 100%;
    }

    &__navigation {
      display: none;
    }

    &__title {
      font-size: 2.5em;
    }

    &__top {
      padding: 8em 2.4em 4.4em;
      width: calc(100% - 4.8em);
    }
  }
}

@media only screen and (min-width : $min-device-medium-width) {
  .header {
    &__footer {
      display: block;
    }
  }
}
