@import 'base/colors';
@import 'helpers/functions';
@import 'helpers/vars';

:host {
  background: get-color(navbar, background);
  box-shadow: 0 0 10px 0 get-color(navbar, box-shadow);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .header__item {
    & > a {
      color: get-color(navbar, text);
      font-weight: 500;

      &:hover {
        color: get-color(header, link, hover);
        font-weight: 600;
      }
    }

    &--active {
      & > a {
        color: get-color(header, link, hover);
        font-weight: 600;
      }
    }
  }

  .header__list {
    padding: 0 80px;
  }

  .header__logo {
    color: get-color(navbar, logo);
    padding-left: 80px;
  }

  .header__menu-icon {
    cursor: pointer;
    display: none;
    transition: color 300ms ease-in-out;

    &:hover {
      color: get-color(core, background);
    }
  }
}

@media only screen and (max-width : $max-device-width) {
  :host {
    .header__list {
      padding: 0 2.4em;
    }

    .header__logo {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 2em;
      width: 100%;
    }

    .header__menu-icon {
      display: none;
    }

    .nav-bar__container {
      height: auto !important;
    }
  }
}

@media only screen and (max-width : 600px) {
  :host {
    .header {
      &__list {
        display: none;
      }

      &__menu-icon {
        display: block;
        font: 2.5em/1.5em $font;
      }
    }
  }
}
