<header>
  <div class="header__title">
    <h1 class="header__h1">Hi, I am <span class="emphasized" title="Cécile Ferrier">Cécile Ferrier</span>.</h1>
    <h2 class="header__h2">I'm a frontend developer.</h2>
  </div>
</header>
<main>
  <section class="nav-bar">
    <ul class="nav-bar__list">
      <li class="nav-bar__item"><h3 title="Home">Home</h3></li>
      <li class="nav-bar__item"><h3 title="About">About</h3></li>
      <li class="nav-bar__item"><h3 title="Projects">Projects</h3></li>
      <li class="nav-bar__item"><h3 title="Contact">Contact</h3></li>
    </ul>
  </section>
  <section class="profile">
    // bring to life smooth and user-friendly interfaces
    // specialties: Frontend - Geomatics
    // picture
    // technos
  </section>
  <section class="project">
    // projects
    // living map, polestar, appscatter, sensat, runpath, send technology
  </section>
</main>
<footer class="social">
  // contact
  // social
</footer>

