$colors: (
  core: (
    background: #FFFBF7,
    text: #302118,
    emphasis: #D1D3BD,
    light-brown: #907059,
    yellow: #D8A957,
  ),
  header: (
    shadow: rgba(0, 0, 0, 0.4),
  ),
  navbar: (
    background: #302118,
    box-shadow: rgba(48, 33, 24, 0.5),
    text: #D1D3BD,
  ),
  profile: (
    strong-text: #D89F3C,
  ),
);
