html, body {
  color: get-color(core, text);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main, footer {
  color: get-color(core, text);
  font: 400 18px/24px $font;
  background: get-color(core, background);
  padding: 80px;

  a {
    color: get-color(core, link);
    font: 600 18px/24px $font;
    text-decoration: none;
    transition: color ease-in-out 250ms;

    &:hover {
      color: get-color(core, link-hover);
    }
  }
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font: 500 64px/80px $font;
}

h3 {
  font: 500 48px/64px $font;
}
