html, body {
  color: get-color(core, text);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main, footer {
  background: get-color(core, background);
}

h1, h2, h3 {
  margin: 0;
}

.logo {
  height: 50px;
}
