html, body {
  color: get-color(core, text);
  font: 400 18px/24px $font;
  height: 100%;
  margin: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main, footer {
  color: get-color(core, text);
  background: get-color(core, background);
  padding: 0 80px;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font: 500 64px/80px $font;
}

h3 {
  font: 500 48px/64px $font;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  height: 100%;
  padding-bottom: 80px;

  &:last-of-type {
    padding-bottom: 0;
  }
}
